@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
  margin: 0;
  padding: 0;
  font-family: "galmuri9",sans-serif;
  box-sizing: border-box;
  vertical-align: middle;
}
input, button {
  all: unset;
}
#wrapper {
  width: 400px;
  margin: 40px auto;
  padding: 40px 0;
  text-align: center;
  background-color: #d8d8d8;
  border: 4px solid #3a3a3a;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin-bottom: 20px;
}
p {
  font-size: 1rem;
}
input {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 20px;
  padding: 8px 2px;
  border: 2px solid #5d5d5d;
  font-size: 1.125rem;
  background-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
button {
  background-color: #525252;
  color: white;
  font-size: 1.125rem;
  padding: 6px 12px;
  cursor: pointer;
  border: 3px solid #3a3a3a;
}
button:disabled {
  background-color: #b6b6b6;
  border: 3px solid #b6b6b6;
}
#chance-area {
  min-height: 20px;
}